.main-container{
    padding:0;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    padding-top:20px;
    padding-bottom:20px;
    margin:0;
}

.main-content{
    width:100%;
    padding-left: 165px;
    padding-right: 30px;
}

/*sidebar*/
.sidebar{
    width:135px;
    position: absolute;
    top:65px;
    left:0;
    bottom:0;
    background:#f9f9f9;
    box-shadow: 3px 0 3px -2px #888;
}

.sidebar ul{
    padding:0;
}

.sidebar ul li a{
    display:block;
    text-align: center;
    padding:10px;
    color:#9e9e9e;
}

.sidebar ul li a:hover{
    color:#007cba!important;
    text-decoration: none;
}

.sidebar i{
    font-size:28px;
    display: block;
    margin-bottom:5px;
}

/*general*/
.hidden{
    display:none;
}

.btn-primary{
    background:#007cba;
}

.panel-primary > .panel-heading{
    background-color:#007cba;
    border-color:#007cba;
}

i{
    cursor:pointer;
}

/*admin - list users*/

.list_users_action_container{
    text-align: center;
}

.active>a{
    color:#007cba!important;
}

.list_user_filters{
    padding:16px!important;
}

/*add users*/
.generate-password-btn{
    float:right;
}

select{
    padding: 10px;
    background: white;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    cursor: pointer;
}

select:focus{
    box-shadow: none;
    background:white;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}
