.main-container{
    padding:0;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    padding-top:20px;
    padding-bottom:20px;
    margin:0;
}

.main-content{
    width:100%;
    padding-left: 165px;
    padding-right: 30px;
}

/*sidebar*/
.sidebar{
    width:135px;
    position: absolute;
    top:65px;
    left:0;
    bottom:0;
    background:#525252;
}

.sidebar ul{
    padding:0;
}

.sidebar ul li a{
    display:block;
    text-align: center;
    padding:10px;
    color:white;
}

.sidebar ul li a:hover{
    background:grey;
    text-decoration: none;
}

.sidebar i{
    font-size:28px;
    display: block;
    margin-bottom:5px;
}

/*general*/
.hidden{
    display:none;
}

/*admin - list users*/

.list_users_action_container{
    text-align: center;
}

.list_users_action_container i{
    cursor:pointer;
}

.active{
    background:gray;
}

.list_user_filters{
    padding:16px!important;
}
